/*cores definida por variaveis*/
:root{
    --preto:rgb(0,0,0);
    --azul:rgb(0,0,255);
    --ama: rgb(251, 255, 0);
    --verde: rgb(0, 255, 42);
    --white:  rgb(255,255,255);
    --rosa: rgb(255,20,147);
    --azulclaro: rgb(176,224,230);
}

/*animação*/
@keyframes colors{
            0% {
                background-position: 0% 50%;
            }
            50%{
                background-position: 100% 50%;
            }
            100%{
                background-position: 0% 50%;
            }
        }


/*
formas de chamar as fontes
font-family: 'Roboto Mono', monospace;
font-family: 'Ubuntu', sans-serif;
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*header e parte de navegaçao do site*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--rosa);
    color: var(--white);
    font-family: 'Roboto Mono', monospace;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 250px;
}
.logo img{
    width: 143px;
}
.logo h1{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 900;
}


.navegacao{
    display: flex;
    align-items: flex-end;
    font-size: 15px;  
}
.navegacao ul{
    margin-bottom: 10px;
}
.navegacao li{
    position: relative;
    display: inline;
    list-style-type: none;
    margin-right: 10px;
    padding: 8px;
    background-color: rgba(109, 96, 96, 0.3);
    transition: 0.10s;
}
.navegacao li:hover{
    background-color: var(--rosa);
    cursor: pointer;
    transition: 0.10s;
}
.navegacao a{
    color: white;
    text-decoration: none;
}
/*fim*/

/*frase de algum autor , ou noticia dada pra igreja*/
.frase-noticia{
    width: 85%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Ubuntu', sans-serif;
}
.frase-noticia :nth-child(1){
    font-size: 50px;
}
.frase-noticia :nth-child(2){
    margin-top: 10px;
}
/*fim*/


.titulo h2{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}



main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 10px;
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.item p{
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}

.item :nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    font-size: 30px;
    padding: 30px;
    color: var(--white);
    border-radius: 100px;
    
    background: linear-gradient(90deg, #f71686, #FF69B4, #f71686, #C71585);
    background-size: 400% 400%; 
    animation: colors 15s ease infinite;
    
}
.item :nth-child(2){
    color: var(--preto);
}


footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: var(--rosa);
    color: var(--white);
    margin-bottom: 0px;
   
}

/*Agora o css das paginas*/


.cont-escala{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.cont-escala h2{
    margin-top: 40px;
}


.escala{
    width: 40%;
    height: 300px;
    display: grid;
    grid: auto auto auto auto auto / 15% auto ;
    grid-gap: 3px;
    margin-top: 30px;
    font-weight: 700;
    margin: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
        
}

.r{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--preto);
}

.escala-item1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--white);
    background-color: var(--rosa);
    

    /*
    background: linear-gradient(90deg, #c403a1, #f1ff32, #f1ff32, #c403a1);
    background-size: 400% 400%; 
    animation: colors 15s ease infinite;
    */

    grid-column-start: 1;
    grid-column-end: 3;
}

/*parte de testes*/


.eventos{
    width: 60%;
    margin: auto;
}
.eventos img{
    width: 100%;
}

/*parte do sites do iframe*/
.sites{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 700px; 
    width: 90%; 
    margin: auto;
    margin-top: 50px; 
}
.sites iframe{
    margin: auto;
    height: 700px;
    width: 90%;
}

/*estilo do svg colocado no site*/

.svg{
    width: 300px;
    margin: auto;
    margin-top: 100px;
}
.svg img{
    width: 300px;
}

/*estilo da calculadora de dizimos e ofertas*/

.cont-dizimo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--rosa);
    border-radius: 30px;
    width: 60%;
    margin: auto;
    margin-top: 70px
}
.cont-dizimo h2{
    text-align: center;
    padding-top: 15px;
    max-width: 300px;
    color: white;
}

.valores{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    color: white;
    font-size: 18px;
}
.valores label{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 22px;
}
.valores input{
    text-align: center;
    width: 80%;
    height: 25px;
    border-radius: 15px;
    border: 0px;
    color: var(--rosa);
}
.valores button{
    width: 80px;
    height: 25px;
    margin-top: 30px;
    border-radius: 10px;
    border: 0px;
    background-color: white;
    color: var(--rosa);
}

.resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
    font-size: 20px;
}

.dizimo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: rgba(255,20,147, 0.9);
    width: 200px;
    padding: 5px;
    color: white;
}

.pacto{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    background-color: rgba(255,20,147, 0.1);
    width: 200px;
    color: white;
}







